{% extends 'base.html.twig' %}

{% block body %}




{%  if app.user.username is not defined %}
    <div class="card offset-1" style="width: 75%">
        <div class="card-body">
            <h4 class="card-title"> <img alt="logo" class="m-2" src="{{ asset('build/images/argo_logo.png') }}" height="50px"/>
                ARGO Accounting Portal</h4>
            <h6 class="card-subtitle mb-2 text-muted"><a href="https://argoeu.github.io/argo-accounting/" title="documentation">Detailed description available here</a></h6>
            <ul>
                <li class="card-text">The Accounting System is a service that is responsible for collecting, aggregating, and exchanging the Virtual Access metrics. </li> 
                <li class="card-text">The ARGO Accounting Portal is providing a user friendly interface to this service </li> 
                <li class="card-text">To access the portal, please log-in trough EOSC Core Infrastructure Proxy  </li>    
            </ul>
        </div>
        <div class="card-footer text-center"> <a class="btn btn-primary" href="{{ url('aai_eosc_login') }}"><i class="bi bi-box-arrow-in-right"></i> LOGIN</a></div>
    </div>
    {% else %}
        <div class="row">
            {%  for categories in menu %}
            <div class="m-1 col">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h4><i class="bi {{ categories.icon }} m-1"></i> {{  categories.title}}</h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <ul>
                            {% for items in categories %}
                                {% for item in items %}
                                    <li><a href="{{ path(item.route) }}" class="nav-link">{{ item.title }}</a></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}





{% endblock %}

