{% extends 'base.html.twig' %}

{% block body %}




{%  if app.user.username is not defined %}
    <div class="card offset-1" style="width: 75%">
        <div class="card-body">
            <h4 class="card-title"> <img alt="logo" class="m-2" src="{{ asset('build/images/argo_logo.png') }}" height="50px"/>
                ARGO Accounting Portal</h4>
            <h6 class="card-subtitle mb-2 text-muted"><a href="https://argoeu.github.io/argo-accounting/" title="documentation">Detailed description available here</a></h6>
            <ul>
                <li class="card-text">The Accounting System is a service that is responsible for collecting, aggregating, and exchanging the Virtual Access metrics. </li> 
                <li class="card-text">The ARGO Accounting Portal is providing a user friendly interface to this service </li> 
                <li class="card-text">To access the portal, please log-in trough EOSC Core Infrastructure Proxy  </li>    
            </ul>
        </div>
        <div class="card-footer text-center"> <a class="btn btn-primary" href="{{ url('aai_eosc_login') }}"><i class="bi bi-box-arrow-in-right"></i> LOGIN</a></div>
    </div>
    {% else %}
        <div class="row">
            <div class="m-1 col">
                <div class="card">

                    <div class="card-header">
                        <div class="card-title">
                            <h4>My Resources</h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <ul>

                            <li><a href="{{ path('projects') }}" class="nav-link">My Project(s)</a></li>
                            <li><a href="{{ path('my_providers') }}" class="nav-link" >My Provider(s)</a></li>
                            <li><a href="{{ path('installations') }}" class="nav-link" >My Installation(s)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-1 col">
                <div class="card">

                    <div class="card-header">
                        <div class="card-title">
                            <h4>Other Resources</h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <ul>
                            <li><a href="{{ path('providers') }}" class="nav-link" >Provider(s)</a></li>
                            <li><a href="{{ path('metrics-definitions') }}" class="nav-link" >Metrics Definitions</a></li>
                            <li><a href="{{ path('metrics-units') }}" class="nav-link" >Metrics Units</a></li>
                            <li><a href="{{ path('metrics-types') }}" class="nav-link" >Unit Types</a></li>

                        </ul>
                    </div>
                </div>


            </div>
            <div class="m-1 col">
                <div class="card">

                    <div class="card-header">
                        <div class="card-title">
                            <h4>Metrics</h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <ul>

                            <li>  <a href="{{ path('metrics') }}" class="nav-link">Browse Metrics</a></li>
{#                            <li>  <a href="{{ path('add_metrics') }}" class="nav-link">Add Metrics</a></li>#}

                        </ul>
                    </div>
                </div>

            </div>

        </div>
    {% endif %}





{% endblock %}

