{% extends "base.html.twig" %}
{% block body %}

    <div class="card  offset-2 col-8">
        <div class="card-header">
            <span class="card-title h2 text-primary"><i class="fas fa-user"></i> {{ user.username }}</span>

        </div>
        <div class="card-body">
            <ul>
                <li><label>Email : </label> {{ user.email }}</li>
                <li><label>Id : </label> {{ user.id }}</li>
            </ul>


            <label class="h3">Properties : </label>
            <ul>
                {% for key, oproles in user.oproles %}
                    {% if oproles is not iterable %}
                        <li><strong>{{ key }} : </strong>{{ oproles }}</li>
                    {% endif %}
                {% endfor %}
            </ul>

            {% for key, oproles in user.oproles %}
                {% if oproles is  iterable %}
                    <label class="h4">{{ key }} </label>
                    <ul>
                        {% for roles in oproles %}
                            <li>{{ roles }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}

        </div>

    </div>

    <div class="card  offset-2 col-8 mt-2 mb-3">
        <div class="card-header">
            <span class="card-title h2 text-primary"><i class="fas fa-globe"></i> Global Permissions </span>
        </div>
        <div class="card-body">
            <div class="row">


                <table class="table dataTable">

                    <thead>
                    <tr>
                        <th>Entity</th>
                        <th>Access Type</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>


                    {%  for permissions in globalPermissions %}
                        {% for permission in permissions['access_permissions'] %}
                            <tr>
                                <td>{{ permissions.collection }}</td>
                                <td>{{ permission.access_type }}</td>
                                <td>{{ permission.operation }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}

                    </tbody>
                </table>


            </div>
        </div>
    </div>


    <div class="card  offset-2 col-8 mt-2 mb-3">
    <div class="card-header">
        <span class="card-title h2 text-primary"><i class="fas fa-globe"></i> Project Level - Permissions </span>
    </div>
    <div class="card-body">
        <div class="row">
            <div>

                {% for project in listEntities['content'] %}
                    <h4 >
                        <ul class="list-group list-group-horizontal m-1">
                            <li class="list-group-item">
                                <i  class="bi bi-gear m-1"></i> {{ project.acronym }}
                            </li>
                        </ul></h4>

                {% if project['permissions'] | length > 0  %}
                <table class="table dataTable">

                    <thead>
                    <tr>
                        <th>Entity</th>
                        <th>Access Type</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>


                        {%  for permissions in project['permissions'] %}
                            {% for permission in permissions['access_permissions'] %}
                                <tr>
                                    <td>{{ permissions.collection }}</td>
                                    <td>{{ permission.access_type }}</td>
                                    <td>{{ permission.operation }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}

                    </tbody>
                </table>

                    {% else %}

                        <div class="alert alert-info">No permissions defined at the project level</div>
                    {% endif %}
                {% endfor %}

                </div>

            </div>


        </div>

    </div>

    <div class="card  offset-2 col-8 mt-2 mb-3">
        <div class="card-header">
            <span class="card-title h2 text-primary"><i class="fas fa-globe"></i> Provider Level - Permissions </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div>



                    {% for project in listEntities['content'] %}
                        {% for provider in project['providers'] %}
                        {% if provider['permissions'] | length > 0  %}
                            <h4 >
                                <ul class="list-group list-group-horizontal m-1">
                                    <li class="list-group-item">
                                        <i  class="bi bi-gear m-1"></i> {{ project.acronym }}
                                    </li>
                                    <li class="list-group-item">
                                        {{ provider.name }}
                                    </li>
                                </ul></h4>
                            <table class="table dataTable">

                                <thead>
                                <tr>
                                    <th>Entity</th>
                                    <th>Access Type</th>
                                    <th>Operation</th>
                                </tr>
                                </thead>
                                <tbody>


                                {%  for permissions in provider['permissions'] %}
                                    {% for permission in permissions['access_permissions'] %}
                                        <tr>
                                            <td>{{ permissions.collection }}</td>
                                            <td>{{ permission.access_type }}</td>
                                            <td>{{ permission.operation }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                                </tbody>
                            </table>

                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>

            </div>


        </div>

    </div>


    <div class="card  offset-2 col-8 mt-2 mb-3">
        <div class="card-header">
            <span class="card-title h2 text-primary"><i class="fas fa-globe"></i> Installation Level - Permissions </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div>



                    {% for project in listEntities['content'] %}
                        {% for provider in project['providers'] %}
                            {% for installation in provider['installations'] %}
                            {% if installation['permissions'] | length > 0  %}
                                <h4 >
                                    <ul class="list-group list-group-horizontal m-1">
                                        <li class="list-group-item">
                                            <i  class="bi bi-gear m-1"></i> {{ project.acronym }}
                                        </li>
                                        <li class="list-group-item">
                                            {{ provider.name }}
                                        </li>
                                        <li class="list-group-item">
                                            {{ installation.installation }}
                                        </li>
                                    </ul></h4>
                                <table class="table dataTable">

                                    <thead>
                                    <tr>
                                        <th>Entity</th>
                                        <th>Access Type</th>
                                        <th>Operation</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {%  for permissions in installation['permissions'] %}
                                        {% for permission in permissions['access_permissions'] %}
                                            <tr>
                                                <td>{{ permissions.collection }}</td>
                                                <td>{{ permission.access_type }}</td>
                                                <td>{{ permission.operation }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}

                                    </tbody>
                                </table>

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </div>

            </div>


        </div>

    </div>


{% endblock %}