{% extends 'base.html.twig' %}

{% block stylesheets %}

    {%  endblock %}

{% block body %}


    <div class="m-4">

<div class="text-end">
    <a href="{{ url('metrics') }}" class="text-white" title="link to the project list" ><button class="btn btn-primary" >

            <i class="bi bi-backspace-fill m-1"></i>Return to the list of projects    </button></a>
</div>

        <h1>Metrics Table</h1>


        <table class="dataTable table  border border-dark" id="TableMetrics">

            <thead>
            <tr>
                {#        <th>Resource Id</th>#}
                <th>Start</th>
                <th>End</th>
                <th>Value</th>
                <th>Provider</th>
                <th>Install</th>
            </tr>
            </thead>

            <tbody>
            {%  for id, data in tabMetrics %}
                <tr>
                    {#            <td class="name">{{ data.resourceId }} </td>#}
                    <td class="start">{{ data.time_period_start }} </td>
                    <td class="end">{{ data.time_period_end }} </td>
                    <td class="value">{{ data.value }}</td>
                    <td class="provider">{{ data.provider }}</td>
                    <td class="install">{{ data.installation }}</td>
                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}