
{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}
<div class="row">
    <div class="offset-1 col-10 mt-1 mb-3">
<h1><i class="bi bi-globe"></i> Projects Table
    <div class="ms-2 d-none spinner-border text-primary" id="loader_remove_provider" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</h1>
<hr/>
<div class="row">
    <div class="toast m-2" id="toast-update-success" data-bs-delay="5000">
        <div class="toast-header">
            <svg class="rounded m-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect fill="#007a00" width="100%" height="100%"/>
            </svg>
            <strong class="me-auto">Status</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast-update-success" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            The provider has been properly added !
        </div>
    </div>

    <div class="toast m-2" id="toast-update-failure" data-bs-delay="5000">
        <div class="toast-header">
            <svg class="rounded m-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect fill="#ff0000" width="100%" height="100%"/>
            </svg>
            <strong class="me-auto">Status</strong>
            <small>just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            The association has failed !
        </div>
    </div>
        <div class="text-end">
            <button class="btn btn-primary" id="addProvider" data-bs-toggle="modal" data-bs-target="#add_provider">
                <i class="bi bi-plus-square me-1"></i> Associates a new provider
            </button>
        </div>

        <!-- Modal ADD  -->
        <div class="modal fade" id="add_provider" tabindex="-1" aria-labelledby="add_provider_Label">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">

                    <div class="modal-header  bg-light">
                        <h5 class="modal-title text-center">Associates a new provider to your project</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form_add_provider_project">
                            <div class="form-group m-2">
                                <label for="project" class="m-1">Select your Project</label>
                                <select class="form-control form-select" id="project_id" name="project_id">
                                    {% for project in tabProjects %}
                                        <option value="{{ project.id }}">{{ project.acronym }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group m-2">
                                <label for="provider" class="m-1">Associates a new provider</label>
                                <select class="form-control form-select" id="provider_name" name="providers" >
                                    {% for providers in tabProviders %}
                                        <option value="{{ providers.id}}">{{ providers.name }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                            <div class="ms-2 d-none spinner-border text-primary" id="loader_add_provider" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</div>

<table class="dataTable table  border border-dark table-responsive" id="TableProjects">

    <thead>
    <tr>
        <th class="col-1">Link</th>
        <th class="col-1">Acronym</th>
        <th class="col-5">Title</th>
        <th class="col-5">Providers</th>

    </tr>
    </thead>

    <tbody>

    {%  for id, data in tabProjects %}
        <tr>
            <td id="row_{{ data.id }}">
                <form class="form_browse" method="POST" action="{{path('metrics')}}">
                    <input name="case" value="1" type="hidden"/>

                    <input  type="hidden" name="project" value="{{ data.id }}"/>
                    <input type="submit" class="btn btn-primary" value="Metrics for project">

                </form>
            </td>
            <td class="acronym">{{ data.acronym }} </td>
            <td class="title">{{ data.title }} </td>
            <td class="providers">
                <ul id="row_provider_{{ data.id }}">
            {% for provider in data  %}

                {%  if provider.name is defined %}
                    <li id="provider_{{ data.id }}_{{ provider.id }}">{{ provider.name }} <a class="deleteProviders" id="delete___{{ provider.id }}___{{ data.id }}" ><i class="bi bi-trash-fill"></i></a> </li>
                {% endif %}
            {% endfor %}
                </ul>
            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>
    </div>
</div>


{% endblock %}

{% block javascripts %}

    <script>
        $(document).on('click','.deleteProviders',function(event) {
            event.preventDefault();
            var projectId= $(this).attr('id').split('___')[2];
            var provider= $(this).attr('id').split('___')[1];

            var dataUrl="project="+projectId+"&provider="+provider;

            let url= "{{ url('dissociates_providers') }}";
            let redirection="{{ url('projects')}}";

            let request = $.ajax({
                type: "POST",
                url: url,
                data: dataUrl,
                crossDomain: true,

                beforeSend: function () {
                    $('#loader_remove_provider').removeClass('d-none');
                }});

            request.done(function (output_success) {
                $("#toast-update-success > .toast-body").html(output_success);
                $("#toast-update-success").toast("show");
                $('#loader_remove_provider').addClass('d-none');
                $('#provider_'+projectId+'_'+provider).addClass('d-none');


            });
            request.fail(function (xhr, status, error) {

                $("#toast-update-failure > .toast-body").html(xhr.responseText);
                $("#toast-update-failure").toast("show");


            });

        });

        $(document).on('submit','.form_add_provider_project',function(event) {
            event.preventDefault(); // cancel default behavior


            var projectId= $(this).find('select[name="project_id"] > option:selected').val().trim();
            var provider=$(this).find('select[name="providers"] > option:selected').val().trim();
            var providerN=$(this).find('select[name="providers"] > option:selected').text().trim();
            var dataUrl="project="+projectId+"&provider="+provider;

            let url= "{{ url('associates_providers') }}";
            let redirection="{{ url('projects')}}";

            let request = $.ajax({
                type: "POST",
                url: url,
                data: dataUrl,
                crossDomain: true,
                beforeSend: function () {
                        $('#loader_add_provider').removeClass('d-none');
                }});

            request.done(function (output_success) {
                $("#toast-update-success > .toast-body").html(output_success);
                $("#toast-update-success").toast("show");
                    $("#add_provider").modal('hide');
                    $('#loader_add_provider').addClass('d-none');

                var linkA='<a class="deleteProviders" id="delete___'+provider+'___'+projectId+'" ><i class="bi bi-trash-fill"></i></a>';
                var liId ="provider_"+projectId+"_"+provider;

                $('<li id='+liId+'>'+providerN+linkA+'</li>').appendTo($('#row_provider_'+projectId));



            });
            request.fail(function (xhr, status, error) {

                $("#toast-update-failure > .toast-body").html(xhr.responseText);
                $("#toast-update-failure").toast("show");
                $("#add_provider").modal('hide');


            });


        });

    </script>
{% endblock %}
