{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}

    {% set access_create='DENY' %}
    {% set access_update='DENY' %}
    {% set access_read='DENY' %}
    {% set access_delete='DENY' %}

    {% for permission in permissions %}
        {% if permission.collection=='MetricDefinition' %}
            {%  for acls in permission %}
                {%  for acl in acls %}
                    {% if acl.operation=='CREATE'  %}
                        {% set access_create=acl.access_type %}
                    {% endif %}
                    {% if acl.operation=='UPDATE'  %}
                        {% set access_update=acl.access_type %}
                    {% endif %}
                    {% if acl.operation=='READ'  %}
                        {% set access_read=acl.access_type %}
                    {% endif %}
                    {% if acl.operation=='DELETE'  %}
                        {% set access_delete=acl.access_type %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <div class="row">
        <div class="offset-1 col-10 mt-1 mb-3">
            <h1><i class="bi bi-clipboard-data"></i>
                Metrics definition</h1>
            <hr/>

            {% if message is defined and message!='' %}
                <div class="card m-1 col-4 mb-2" id="message">
                    <div class="card-header {% if status < 210 %} bg-success{% else %} bg-danger {% endif %}">
                        {% if status < 210 %}
                            <h3 class="card-title text-white "><i class="bi bi-check-circle m-1"></i> Update done</h3>
                        {% else %}
                            <h3 class="card-title text-white "><i class="bi bi-exclamation-triangle m-1"></i>Update failed</h3>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p>Status {{ status }} - {{ message }}</p>
                    </div>
                </div>
            {% endif %}

            {% if access_create=='ALWAYS'%}
                <div class="text-end">
                    <button class="btn btn-primary" id="addMetricDefinition" data-bs-toggle="modal" data-bs-target="#add_metric_desc"> <i class="bi bi-plus-square me-1"></i>Add a new metric definition
                    </button>
                </div>
            {% endif %}



<!-- Modal ADD  -->
<div class="modal fade" id="add_metric_desc" tabindex="-1" aria-labelledby="add_metric_desc_Label">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header  bg-light">
                <h5 class="modal-title text-center">Add Metric Definition</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form_add_metric_desc">

                    <input type="hidden" value="0" name="metricId"/>
                    <input type="hidden" name="type" value="add"/>

                    <div class="form-group m-2">
                        <label for="metricName">Metric Name</label>
                        <input type="text" class="form-control" name="metricName" id="metricName">
                    </div>
                    <div class="form-group m-2">
                        <label for="metricDescription">Metric Description</label>
                        <input type="text" class="form-control" id="metricDescription"
                               name="metricDescription" aria-describedby="metricDescriptionHelp">
                        <small id="metricDescriptionHelp" class="form-text text-muted">Please
                            describe the usage and the perimeter of the metric</small>
                    </div>

                    <div class="form-group m-2">
                        <label for="unit">Unit</label>
                        <select id="unit" name="metricUnit" class="form-select">
                            {% for tabMetricsUnit in tabMetricsUnits %}
                                {% for units in tabMetricsUnit %}
                                        <option value="{{ units.unit_type }}">{{ units.unit_type }} :  {{ units.description }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group m-2">
                        <label for="type">Metric Type</label>
                        <select id="type" name="metricType" class="form-select">
                            {% for tabMetricsType in tabMetricsTypes %}
                                {% for types in tabMetricsType %}
                                    <option value="{{ types.metric_type  }}">{{ types.metric_type  }}</option>
                                {% endfor %}
                            {% endfor %}

                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                    <div class="ms-2 d-none spinner-border text-primary" id="loader_add" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>


                </form>

            </div>

        </div>
    </div>
</div>
            {% if access_read=='ALWAYS' %}
<table class="dataTable table  border border-dark" id="TableDefinitions">

    <thead>
    <tr>

        <th>Metric Name</th>
        <th>Metric Description</th>
        <th>Unit</th>
        <th>Metric Type</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for definitions in tabMetricsDef %}
            {% for data in definitions %}

        <tr id="tr_{{ data.metric_definition_id }}">

            <td class="metricName">{{ data.metric_name }} </td>
            <td class="metricDescription">{{ data.metric_description }} </td>
            <td class="metricUnit">{{ data.unit_type }} </td>
            <td class="metricType">{{ data.metric_type }}</td>
            <td>
                <div class="btn-group dropstart">

                    {%  if data.creator_id is defined %}
                        {% if access_update=='ALWAYS' or (access_update=='ENTITY' and data.creator_id==userId)%}
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update_{{ data.metric_definition_id }}" title="Update Metric Definition">
                                <i class="bi bi-pencil-square" style="font-size: large"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                    {%  if data.creator_id is defined %}
                        {% if access_delete=='ALWAYS' or (access_delete=='ENTITY' and data.creator_id==userId)%}
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_{{ data.metric_definition_id}}" title="Delete Metric Definition">
                                <i class="bi bi-trash-fill" style="font-size: large"></i>

                            </a>
                        {% endif %}
                    {% endif %}

                    <!-- il faut positionner les modales en dehors du menu pour éviter les problèmes -->

                    <!-- Modal delete  -->
                    <div class="modal fade" id="delete_{{ data.metric_definition_id }}" tabindex="-1" aria-labelledby="delete_{{ data.metric_definition_id}}_Label">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">

                                <div class="modal-header  bg-light">
                                    <h5 class="modal-title text-center">Delete Metric Definition</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form_delete_metric_desc">
                                        <input type="hidden" name="type" value="delete"/>
                                        <input type="hidden" value="{{ data.metric_definition_id }}" name="metricId"/>

                                        <div class="form-group m-2">
                                            <label for="metricName">Metric Name</label>
                                            <input type="text" class="form-control" id="metricName" name="metricName"
                                                   value="{{ data.metric_name }}" disabled>
                                        </div>

                                        <div class="form-group m-2">
                                            <label for="metricDescription">Metric Description</label>
                                            <input type="text" class="form-control" id="metricDescription" name="metricDefinition"
                                                   value="{{ data.metric_description }}" disabled>
                                        </div>


                                        <br/>
                                        <hr/>

                                        <span class="mb-1 alert alert-danger">You are going to delete the metrics definition described previously !</span>
                                        <br/>
                                        <br/>
                                        <button type="submit" class="btn btn-danger" value="submit">Delete Metric Definition</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                                aria-label="Close">Close
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Modal update  -->
                    <div class="modal fade" id="update_{{ data.metric_definition_id }}" tabindex="-1" aria-labelledby="update_{{ data.metric_definition_id}}_Label">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">

                                <div class="modal-header  bg-light">
                                    <h5 class="modal-title text-center">Update Metric Definition</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form_update_metric_desc">
                                        <input type="hidden" name="type" value="update"/>

                                        <input type="hidden" value="{{ data.metric_definition_id }}" name="metricId"/>
                                        <div class="form-group m-2">
                                            <label for="metricName">Metric Name</label>
                                            <input type="text" class="form-control" id="metricName" name="metricName"  value="{{ data.metric_name }}">
                                            <input type="hidden" class="form-control" id="metricName_ref" name="metricName_ref"  value="{{ data.metric_name }}">

                                        </div>
                                        <div class="form-group m-2">
                                            <label for="metricDescription">Metric Description</label>

                                            <input type="text" class="form-control" id="metricDescription"
                                                   name="metricDescription" aria-describedby="metricDescriptionHelp"
                                                   value="{{ data.metric_description }}">
                                            <input type="hidden" class="form-control" id="metricDescription_ref" name="metricDescription_ref"  value="{{ data.metric_description }}">

                                            <small id="metricDescriptionHelp" class="form-text text-muted">Please
                                                describe the usage and the perimeter of the metric</small>
                                        </div>

                                        <div class="form-group m-2">
                                            <label for="unit">Unit</label>

                                            <select id="unit" name="metricUnit" class="form-select">
                                                {% for tabMetricsUnit in tabMetricsUnits %}
                                                    {% for units in tabMetricsUnit %}
                                                        <option value="{{ units.unit_type }}" {% if units.unit_type== data.unit_type%} selected{% endif %}>{{ units.unit_type }} :  {{ units.description }}</option>
                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                            <input type="hidden" class="form-control" id="metricUnit_ref" name="metricUnit_ref"  value="{{ data.unit_type }}">
                                        </div>

                                        <div class="form-group m-2">
                                            <label for="type">Metric Type</label>
                                            <select id="type" name="metricType" class="form-select">
                                                {% for tabMetricsType in tabMetricsTypes %}
                                                    {% for types in tabMetricsType %}
                                                        <option value="{{ types.metric_type  }}"
                                                                {% if types.metric_type==data.metric_type %}selected{% endif %}>{{ types.metric_type  }}</option>

                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                            <input type="hidden" class="form-control" id="metricType_ref" name="metricType_ref"  value="{{ data.metric_type }}">

                                        </div>


                                        <button type="submit" class="btn btn-primary">Submit</button>


                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>




                </div>

            </td>


        </tr>


    {% endfor %}
    {% endfor %}

    </tbody>
</table>
            {% else %}
                <div class="m-1 alert alert-warning">You are not authorized to see the metric definition table !</div>
            {% endif %}
</div>
</div>


{% endblock %}
{% block javascripts %}
    <script>
        $("#TableDefinitions").dataTable({
            "order": [[ 4, 'asc' ], [ 0, 'asc' ]]
        })


        $(document).on('submit','.form_add_metric_desc, .form_update_metric_desc, .form_delete_metric_desc',function(event) {

            event.preventDefault(); // cancel default behavior

            let metricId=  $(this).find('input[name="metricId"]').val().trim();
            let type=  $(this).find('input[name="type"]').val().trim();
            let dataUrl;


            if (type === 'delete') {
                dataUrl = 'type=' + type + '&metric_id=' + metricId;

            } else {

                var metricDescription = $(this).find('input[name="metricDescription"]').val().trim();
                var metricName = $(this).find('input[name="metricName"]').val().trim();
                var metricUnit = $(this).find('select[name="metricUnit"] > option:selected').val().trim();
                var metricType = $(this).find('select[name="metricType"] > option:selected').val().trim();

                dataUrl = 'type=' + type ;

                if (type==='add') {
                    dataUrl = dataUrl + '&metric_description=' + metricDescription + '&metric_name=' + metricName + '&unit_type=' + metricUnit + '&metric_type=' + metricType;
                }

                if (type==='update') {
                    var metricDescription_ref = $(this).find('input[name="metricDescription_ref"]').val().trim();
                    var metricName_ref = $(this).find('input[name="metricName_ref"]').val().trim();
                    var metricUnit_ref = $(this).find('input[name="metricUnit_ref"]').val().trim();
                    var metricType_ref = $(this).find('input[name="metricType_ref"]').val().trim();

                    dataUrl=dataUrl+'&metric_id=' + metricId;

                    if (metricDescription_ref!==metricDescription) {
                        dataUrl = dataUrl + '&metric_description=' + metricDescription;
                    }

                    if (metricName_ref!==metricName) {
                        dataUrl = dataUrl + '&metric_name=' + metricName;
                    }

                    if (metricUnit_ref!==metricUnit) {
                        dataUrl = dataUrl + '&unit_type=' + metricUnit;
                    }

                    if (metricType_ref!==metricType) {
                        dataUrl = dataUrl + '&metric_type=' + metricType;
                    }
                }
            }


            let url= "{{ url('modify_metric_description') }}";


            let request = $.ajax({
                type: "POST",
                url: url,
                data: dataUrl,
                crossDomain: true,

                beforeSend: function () {
                        $('#loader_add').removeClass('d-none');
                }});

            request.done(function (output_json) {

                var output = jQuery.parseJSON(output_json);
                var status = output.code;
                var message = output.message;

              $.redirect(window.location.href, {'status': status, 'message': message});


            });
            request.fail(function (output_json) {

                var output = jQuery.parseJSON(output_json);
                var status = output.code;
                var message = output.message;

               $.redirect(window.location.href, {'status': status, 'message': message});

            });


        });



    </script>
{% endblock %}




