{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <H3>Browse metrics</H3>
    </div>

        <div class="row">


            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="btnradio" id="btn_selection_1" value="btn_selection_1" autocomplete="off" {% if  details < 2 %}checked {% endif %}>
                <label class="btn btn-outline-primary text-dark" for="btn_selection_1">Browse by Project</label>

                <input type="radio" class="btn-check" name="btnradio" id="btn_selection_2" value="btn_selection_2"  autocomplete="off" {% if  details == 2 %}checked {% endif %}>
                <label class="btn btn-outline-primary text-dark" for="btn_selection_2">Browse by Project and Provider</label>

                <input type="radio" class="btn-check" name="btnradio" id="btn_selection_3" value="btn_selection_3"  autocomplete="off" {% if  details == 3 %}checked {% endif %}>
                <label class="btn btn-outline-primary text-dark" for="btn_selection_3">Browse by Installation</label>
            </div>


        </div>


        <div class="card row m-4" >
            <div class="card-body selection {% if details >= 2 %} d-none {% endif %}" id="selection_1">

                    <form class="needs-validation" novalidate  id="form_selection_1" name="form_browse_metrics" method="POST" action="{{ path('metrics') }}">
                        <input type="hidden" name="case" value="1">
                        <input class="start_date" name="start_date" value="0" type="hidden"/>
                        <input class="end_date" name="end_date" value="0" type="hidden"/>
                        <div class="col">

                            <div class="form-group">
                                <label for="project" class="text-muted">Please select a project</label>
                                <select id="project" class="form-control form-select" name="project" required>



                                    {%  for project in tabProjects %}
                                        {% if project.id==project %}
                                            {% set projectName= project.title  %}
                                            <option  value="{{project.id}}" selected>{{ project.acronym}}</option>
                                        {% else %}
                                            <option  value="{{project.id}}">{{ project.acronym}}</option>
                                        {% endif %}

                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please choose a project
                                </div>
                            </div>

                        </div>
                    </form>
            </div>




            <div class="card-body selection  {% if details != 2 %} d-none {% endif %}" id="selection_2">
            <form class="form_browse_metrics" id="form_selection_2" name="form_browse_metrics" method="POST" action="{{ path('metrics') }}">
                <input type="hidden" name="case" value="2">
                <input class="start_date" name="start_date" value="0" type="hidden"/>
                <input class="end_date" name="end_date" value="0" type="hidden"/>
                <div class="col">


                <div class="form-group">
                    <label for="project_provider" class="text-muted">Please select an association of project and provider</label>

                    <select class="form-control form-select"  id="project_provider" name="project_provider">



                        {%  for project in tabProjects %}
                            {%  for provider in project %}
                                {%  if provider.name is defined %}
                                <option value="{{project.id}}___{{ provider.id}}">{{ project.acronym}} / {{ provider.name}} </option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>

                    <div class="invalid-feedback">
                        Please choose an association of project and provider
                    </div>



            </div>
            </form>
            </div>

            <div class="card-body  selection {% if details != 3 %} d-none {% endif %}" id="selection_3">

                    <form class="form_browse_metrics"  id="form_selection_3" name="form_browse_metrics" method="POST" action="{{ path('metrics') }}">
                        <input type="hidden" name="case" value="3">
                        <input class="start_date" name="start_date" value="0" type="hidden"/>
                        <input class="end_date" name="end_date" value="0" type="hidden"/>

                        <div class="col">

                            <div class="form-group">
                                <label for="installation" class="text-muted">Please select an installation</label>
                                <select class="form-control  form-control form-select" name="installation" id="installation">

                                    {%  for installation in tabInstallations %}
                                        <option value="{{installation.id}}">Installation : {{ installation.installation}} -  Provider : {{ installation.organisation}} - {{ installation.infrastructure}}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="invalid-feedback">
                                Please choose an installation
                            </div>


                        </div>

                    </form>

            </div>


            <div class="card-body  ">
                <div><a href="" id="addTime"><i class="bi bi-plus-circle-fill m-1"></i> Add a date range</a> </div>
            <div class="addTime form-group d-none">
                <label for="datetimes" class="text-muted">Select the date range <a href="" id="removeTime"><i class="bi bi-trash-fill m-1"></i> </a> </label>

                <div id="reportrange" class="form-control form-select">
                    <i class="bi bi-calendar-check"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>



            </div>
            </div>

            <div class="card-body text-center">
            <div class="col">
                <button type="submit" id="submit_metrics" class="submit btn btn-primary mt-3" value="submit_metrics">Submit</button>
            </div>
            </div>

            </div>






{%  if details >= 1 %}
    <hr class="text-dark"/>
    <h3><i class="bi bi-bar-chart"></i> Metrics Table </h3>
    {%  if details == 1  %}
        <h5 class="text-muted"><span class="text-dark">Project</span> > {{  tabProjects[parameters.projectId].title }}</h5>
    {% endif %}

    {%  if details == 2 %}
        <h5 class="text-muted"><span class="text-dark">Project</span> > {{  tabProjects[parameters.projectId].title }}<br/>
         <span class="text-dark">Provider</span> > {{  tabProviders[parameters.provider].name }} </h5>
    {% endif %}

    {%  if details == 3 %}
        <h5 class="text-muted"> <span class="text-dark">Installation</span> > Name : {{  tabInstallations[parameters.installation].installation }} -  Provider : {{  tabInstallations[parameters.installation].organisation }}  }}</h5>
    {% endif %}

    {%  if start!=0 %}
        <h5 class="text-muted"><span class="text-dark">Period</span> > {{ start }} / {{ end }}</h5>
  {% endif %}


{% if tabMetricsDetails!=null %}

<table class="dataTable table  border border-dark" id="TableMetricsProject">

    <thead>
    <tr>
{#        <th>Resource Id</th>#}
        <th>Start</th>
        <th>End</th>
        <th>Value</th>
        <th>Unit</th>
        <th>Metric Type</th>
        <th>Metric Description</th>
        <th>Project</th>
        <th>Provider</th>


    </tr>
    </thead>

    <tbody>
    {%  for data in tabMetricsDetails %}


        <tr>
{#            <td class="name">{{ data.resourceId }} </td>#}

            {% if data.time_period_start is defined %}
                <td class="start">{{ data.time_period_start }} </td>
            {% else %}
                <td></td>
            {% endif %}

            {% if data.time_period_end  is defined %}
                <td class="end">{{ data.time_period_end  }} </td>
            {% else %}
                <td></td>
            {% endif %}

            {% if data.value  is defined %}
                <td class="value">{{ data.value   }} </td>
            {% else %}
                <td></td>
            {% endif %}


            <td class="unit">{{ data.unit_type }}</td>
            <td>{{ data.metric_type }}</td>
            <td>{{ data.metric_description }}</td>
           <td>{{ data.project }}</td>
            <td class="provider">{{ data.provider }}</td>

        </tr>
        {% endfor %}


    </tbody>

</table>


{% else %}
    <div class="mt-4"><span class="alert alert-info">No metrics registered for this configuration</span></div>
{% endif %}


{% endif %}
</div>

{% endblock %}

{% block javascripts %}
    <script>

        $(document).on('click','#removeTime',function(event) {
            $('.addTime').addClass('d-none');
            $('#addTime').removeClass('d-none');
            $('.start_date').val(0) ;
            $('.end_date').val(0);
            event.preventDefault();
        });

        $(document).on('click','#addTime',function(event) {
            $('.addTime').removeClass('d-none');
            $('#addTime').addClass('d-none');
            event.preventDefault();
        });

        $(document).on('click','#submit_metrics',function(event) {
            var id=$('input[name="btnradio"]:checked').val().split('btn_')[1];
            if($('.addTime').hasClass('d-none')) {
                $('.start_date').val(0) ;
                $('.end_date').val(0);
            }
            $('#form_'+id).submit();
        });


        $(document).on('change','input[name="btnradio"]',function(event) {
        var id=$('input[name="btnradio"]:checked').val().split('btn_')[1];
            $(".selection").addClass('d-none');
            $(".selection").find('select').addClass('select2-hidden-accessible');
            $(".selection").find('select').addClass('form-control form-select');
            $("#"+id).removeClass('d-none');
            $("#"+id ).find('select').removeClass('select2-hidden-accessible');
        });

        $(function() {
            var start = moment().subtract(29, 'days');
            var end = moment();


            function cb(start, end) {
                $('.start_date').val(start.format('YYYY-MM-DD') );
                $('.end_date').val(end.format('YYYY-MM-DD'));
                $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'Last 6 Month': [moment().subtract(6, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'Last Year': [moment().subtract(12, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });

    </script>
{% endblock %}
