{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}

        <div class="card mt-2">


            <div class="card-header">
                <h3 class="card-title"> <i class="bi bi-bar-chart"></i> Metrics Table
{#                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_metric" title="Add a metric to the project">#}
{#                        <i class="bi bi-plus-circle" style="font-size: large"></i>#}
{#                        <i class="bi bi-bar-chart" style="font-size: large"></i>#}
{#                    </a>#}
                </h3>



                <div class="modal fade" id="add_metric" tabindex="-1" >
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">

                            <div class="modal-header  bg-light">
                                <h5 class="modal-title text-center">Add a new Metric </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="form_add_metric_project" id="form_add_metric">

                                    <div class="form-group m-2">
                                        <label for="project">Project</label>
                                        <select class="form-control" name="project" id="project_id" >
                                            {%  for permission in permissions['content'] %}
                                                {% if parameters.project_id is defined and permission.id==parameters.project_id  %}
                                                    <option value="{{  permission.id}}" selected>{{ permission.acronym }}</option>
                                                {% endif %}
                                            {% endfor  %}
                                        </select>
                                    </div>

                                    <div class="form-group m-2">
                                        <label for="provider">Provider</label>
                                        <select class="form-control providers" name="providers" >
                                            {%  for permission in permissions['content'] %}
                                                {% if parameters.project_id is defined and permission.id==parameters.project_id  %}
                                                    {% for provider in permission['providers'] %}
                                                        {% if (parameters.type!='providers') or (parameters.type=='providers' and parameters.id== provider.id) %}
                                                            <option value="{{ provider.id}}" >{{ provider.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}

                                            {% endif %}
                                            {% endfor  %}
                                        </select>
                                    </div>

                                    <div class="form-group m-2">
                                        <label for="installation">Installations</label>
                                        {%  if parameters.type=='providers' %}
                                        {%  for permission in permissions['content'] %}
                                            {% if parameters.project_id is defined and permission.id==parameters.project_id  %}
                                                {% for provider in permission['providers'] %}

                                                        <select class="form-control" name="installations" >
                                                            {%  for installations in tabInstallations %}
                                                                {%  for installation in installations %}
                                                                    {% if installation.organisation == parameters.id %}
                                                                    <option value="{{  installation.id}}" disabled>{{ installation.installation }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </select>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                        {%  if parameters.type=='installations' %}

                                                        <select class="form-control" name="installations" >
                                                            {%  for installations in tabInstallations %}
                                                                {%  for installation in installations %}
                                                                    {% if installation.id == parameters.id %}
                                                                        <option value="{{  installation.id}}" disabled>{{ installation.installation }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </select>
                                        {% endif %}
                                    </div>


                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    <div class="ms-2 d-none spinner-border text-primary" id="loader_add" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>


                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <div class="card-body">
                {% set count_pro=0 %}
                {% set count_ins=0 %}
                {%  for permission in permissions['content'] %}

                    {% if parameters.project_id is defined and permission.id==parameters.project_id  %}

                            <div class="btn-group" role="group" >
                                <button type="button" class="btn btn-light border-secondary"><i class="bi bi-gear"></i> </button>
                                <button type="button" class="btn btn-light border-secondary ">Project</button>
                                <button type="button" class="btn btn-light border-secondary ">{{ permission.acronym }}</button>
                            </div><hr/>

                    {% endif %}

                        {% for provider in permission['providers'] %}

                            {% if parameters.id is defined and  provider.id==parameters.id  and count_pro ==0 %}
                                {% set count_pro =1  %}
                                    <div class="btn-group" role="group" >
                                        <button type="button" class="btn btn-light border-secondary"><i class="bi bi-gear"></i> </button>
                                        <button type="button" class="btn btn-light border-secondary ">Provider</button>
                                        <button type="button" class="btn btn-light border-secondary ">{{ provider.name }}</button>
                                    </div>
                                <hr/>
                            {% endif %}

                            {% for installation in provider['installations'] %}
                                {% if parameters.id is defined and  installation.id==parameters.id  and count_ins ==0 %}
                                    {% set count_ins =1  %}
                                    <div class="btn-group" role="group" >
                                        <button type="button" class="btn btn-light border-secondary"><i class="bi bi-gear"></i> </button>
                                        <button type="button" class="btn btn-light border-secondary ">Installation</button>
                                        <button type="button" class="btn btn-light border-secondary ">{{ installation.installation }}</button>
                                    </div>
                                    <hr/>
                                {% endif %}

                            {% endfor %}
                        {% endfor %}

                    {% endfor %}


                    {% if tabMetricsDetails|length > 0 %}

                    <table class="dataTable table  border border-dark" id="TableMetricsDetails">

                        <thead>
                        <tr>

                            <th>Start</th>
                            <th>End</th>
                            <th>Value</th>
                            <th>Project</th>
                            <th>Provider</th>


                        </tr>
                        </thead>

                        <tbody>

                        {% for tabMetricsDetail in tabMetricsDetails %}
                        {% for data in tabMetricsDetail %}



                            <tr>



                                {% if data.time_period_start is defined %}
                                    <td class="start">{{ data.time_period_start }} </td>
                                {% else %}
                                    <td></td>
                                {% endif %}

                                {% if data.time_period_end  is defined %}
                                    <td class="end">{{ data.time_period_end }} </td>
                                {% else %}
                                    <td></td>
                                {% endif %}

                                {% if data.value  is defined %}
                                    <td class="value">{{ data.value }} </td>
                                {% else %}
                                    <td></td>
                                {% endif %}

                                <td>{{ data.project }}</td>
                                <td class="provider">{{ data.provider }}</td>


                            </tr>
                        {% endfor %}
                        {% endfor %}

                        </tbody>

                    </table>


                {% else %}
                    <div class="mt-4 p-2"><span
                                class="alert alert-info">No metrics registered for this configuration</span>
                    </div>
                {% endif %}

            </div>
        </div>


{% endblock %}

{% block javascripts %}
    <script>
        $("#TableMetricsDetails").dataTable({
            "order": [[0, 'asc']]
        })


        $(document).on('change', '.providers', function (event) {

            var projectId = $('#project_id > option:selected').val().trim();
            var providerId = $('.providers > option:selected').val().trim();

            $("select[name='installations']").addClass('d-none');
            $('.'+projectId+'-'+providerId).removeClass('d-none');


        });
    </script>
{% endblock %}