{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10 mt-1 mb-3">
            <h1><i class="bi bi-clipboard-data"></i>
                Metrics definition</h1>
            <hr/>

            {% if message is defined and message!='' %}
                <div class="card m-1 col-4 mb-2" id="message">
                    <div class="card-header {% if status < 210 %} bg-success{% else %} bg-danger {% endif %}">
                        {% if status < 210 %}
                            <h3 class="card-title text-white "><i class="bi bi-check-circle m-1"></i> Update done</h3>
                        {% else %}
                            <h3 class="card-title text-white "><i class="bi bi-exclamation-triangle m-1"></i>Update failed</h3>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h4>Status {{ status }} - {{ message }}</h4>
                    </div>
                </div>
            {% endif %}

<div class="text-end">
    <button class="btn btn-primary" id="addMetricDefinition" data-bs-toggle="modal" data-bs-target="#add_metric_desc"> <i class="bi bi-plus-square me-1"></i>Add a new metric definition
    </button>
</div>

<!-- Modal ADD  -->
<div class="modal fade" id="add_metric_desc" tabindex="-1" aria-labelledby="add_metric_desc_Label">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header  bg-light">
                <h5 class="modal-title text-center">Add Metric Definition</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form_add_metric_desc">

                    <input type="hidden" value="0" name="metricId"/>
                    <input type="hidden" name="type" value="addition"/>

                    <div class="form-group m-2">
                        <label for="metricName">Metric Name</label>
                        <input type="text" class="form-control" name="metricName" id="metricName">
                    </div>
                    <div class="form-group m-2">
                        <label for="metricDescription">Metric Description</label>
                        <input type="text" class="form-control" id="metricDescription"
                               name="metricDescription" aria-describedby="metricDescriptionHelp">
                        <small id="metricDescriptionHelp" class="form-text text-muted">Please
                            describe the usage and the perimeter of the metric</small>
                    </div>

                    <div class="form-group m-2">
                        <label for="unit">Unit</label>
                        <select id="unit" name="metricUnit" class="form-select">
                            {% for units in tabMetricsUnits %}
                                {% for unit in units %}
                                    <option value="{{ unit.symbol }}">{{ unit.unit }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group m-2">
                        <label for="type">Metric Type</label>
                        <select id="type" name="metricType" class="form-select">
                            {% for types in tabMetricsTypes['metric_types'] %}
                                <option value="{{ types.metric_type  }}">{{ types.metric_type  }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                    <div class="ms-2 d-none spinner-border text-primary" id="loader_add" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>


                </form>

            </div>

        </div>
    </div>
</div>
<table class="dataTable table  border border-dark" id="Tabledefinitions">

    <thead>
    <tr>
        <th>Metric Name</th>
        <th>Metric Description</th>
        <th>Unit</th>
        <th>Metric Type</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for data in tabMetricsDef['content'] %}



        <tr id="tr_{{ data.metric_definition_id }}">
            <td class="metricName">{{ data.metric_name }} </td>
            <td class="metricDescription">{{ data.metric_description }} </td>
            <td class="metricUnit">{{ data.unit_type }} </td>
            <td class="metricType">{{ data.metric_type }}</td>

            <td>
                <div class="btn-group dropstart">

                    <button class="btn bg-light dropdown-toggle border border-dark text-dark"
                            type="button" id="dropdownActions" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">

                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#update_{{ data.metric_definition_id }}">
                            <i class="bi bi-pencil-square"></i>
                            Update Metric Definition
                        </a>
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_{{ data.metric_definition_id}}">
                            <i class="bi bi-x-circle"></i>
                             Delete Metric Definition
                        </a>

                    </div>

                    <!-- il faut positionner les modales en dehors du menu pour éviter les problèmes -->

                    <!-- Modal delete  -->
                    <div class="modal fade" id="delete_{{ data.metric_definition_id }}" tabindex="-1" aria-labelledby="delete_{{ data.metric_definition_id}}_Label">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">

                                <div class="modal-header  bg-light">
                                    <h5 class="modal-title text-center">Delete Metric Definition</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form_delete_metric_desc">
                                        <input type="hidden" name="type" value="delete"/>
                                        <input type="hidden" value="{{ data.metric_definition_id }}" name="metricId"/>

                                        <div class="form-group m-2">
                                            <label for="metricName">Metric Name</label>
                                            <input type="text" class="form-control" id="metricName" name="metricName"
                                                   value="{{ data.metric_name }}">
                                        </div>

                                        <div class="form-group m-2">
                                            <label for="metricDescription">Metric Description</label>
                                            <input type="text" class="form-control" id="metricDescription" name="metricDefinition"
                                                   value="{{ data.metric_description }}">
                                        </div>


                                <br/>
                                <hr/>

                                    <span class="mb-1 alert alert-danger">You are going to delete the metrics definition described previously !</span>
                                        <br/>
                                        <br/>
                                    <button type="submit" class="btn btn-danger" value="submit">Delete Metric Defintition</button>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                            aria-label="Close">Close
                                    </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Modal update  -->
                    <div class="modal fade" id="update_{{ data.metric_definition_id }}" tabindex="-1" aria-labelledby="update_{{ data.metric_definition_id}}_Label">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">

                                <div class="modal-header  bg-light">
                                    <h5 class="modal-title text-center">Update Metric Definition</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form_update_metric_desc">
                                        <input type="hidden" name="type" value="update"/>

                                        <input type="hidden" value="{{ data.metric_definition_id }}" name="metricId"/>
                                        <div class="form-group m-2">
                                            <label for="metricName">Metric Name</label>
                                            <input type="text" class="form-control" id="metricName" name="metricName"
                                                   value="{{ data.metric_name }}">
                                        </div>
                                        <div class="form-group m-2">
                                            <label for="metricDescription">Metric Description</label>

                                            <input type="text" class="form-control" id="metricDescription"
                                                   name="metricDescription" aria-describedby="metricDescriptionHelp"
                                                   value="{{ data.metric_description }}">
                                            <small id="metricDescriptionHelp" class="form-text text-muted">Please
                                                describe the usage and the perimeter of the metric</small>
                                        </div>

                                        <div class="form-group m-2">
                                            <label for="unit">Unit</label>
                                            <select id="unit" name="metricUnit" class="form-select">
                                                {% for key,units in tabMetricsUnits %}
                                                    {% for unit in units %}
                                                    <option value="{{ unit.symbol }}"
                                                            {% if unit.symbol==data.unit_type %}selected{% endif %}>{{ unit.unit }}</option>
                                                    {% endfor %}
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group m-2">
                                            <label for="type">Metric Type</label>
                                            <select id="type" name="metricType" class="form-select">
                                                {% for types in tabMetricsTypes['metric_types'] %}
                                                        <option value="{{ types.metric_type  }}"
                                                                {% if types.metric_type==data.unit_type %}selected{% endif %}>{{ types.metric_type  }}</option>

                                                {% endfor %}

                                            </select>
                                        </div>


                                        <button type="submit" class="btn btn-primary">Submit</button>


                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>




                </div>

            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>

</div>
</div>


{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('submit','.form_add_metric_desc, .form_update_metric_desc, .form_delete_metric_desc',function(event) {

            event.preventDefault(); // cancel default behavior

            let metricId=  $(this).find('input[name="metricId"]').val().trim();
            let type=  $(this).find('input[name="type"]').val().trim();
            let dataUrl;

            if (type === 'delete') {
                dataUrl = 'type=' + type + '&metricId=' + metricId;

            } else {
                var metricDescription = $(this).find('input[name="metricDescription"]').val().trim();
                var metricName = $(this).find('input[name="metricName"]').val().trim();
                var metricUnit = $(this).find('select[name="metricUnit"] > option:selected').val().trim();
                var metricType = $(this).find('select[name="metricType"] > option:selected').val().trim();
                dataUrl = 'type=' + type + '&metricId=' + metricId + '&metricDescription=' + metricDescription + '&metricName=' + metricName + '&metricUnit=' + metricUnit + '&metricType=' + metricType;
            }

            let url= "{{ url('modify_metric_description') }}";


            let request = $.ajax({
                type: "POST",
                url: url,
                data: dataUrl,
                crossDomain: true,

                beforeSend: function () {
                    if (type==='addition')
                        $('#loader_add').removeClass('d-none');
                }});

            request.done(function (output_json) {

                var output = jQuery.parseJSON(output_json);
                var status = output.status;
                var message = output.message;


                if (type==='update') {
                    $("#update_" + metricId).modal('hide');

                }
                if (type==='addition') {
                    $("#add_metric_desc").modal('hide');

                }
                if (type==='delete') {
                    $("#delete_" + metricId).modal('hide');

                }

               $.redirect(window.location.href, {'status': status, 'message': message});


            });
            request.fail(function (output_json) {

                var output = jQuery.parseJSON(output_json);
                var status = output.status;
                var message = output.message;

                if (type==='update')
                    $("#update_"+metricId).modal('hide');
                if (type==='addition')
                    $("#add_metric_desc").modal('hide');
                if (type==='delete')
                    $("#delete_"+metricId).modal('hide');


                $.redirect(window.location.href, {'status': status, 'message': message});

            });


        });

        $("#message").fadeTo(5000, 1500).slideUp(2500, function () {
            $("#message").slideUp(2500);
        });

    </script>
{% endblock %}




