{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <div class="row">


        <div class="offset-1 col-10 mt-1 mb-3">
            <h1><i class="bi bi-diagram-3-fill"></i>
                My Providers</h1>
            <div class="ms-2 d-none spinner-border text-primary" id="loader_add_provider" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <hr/>

            {% if message is defined and message!='' %}
                <div class="card m-1 col-4 mb-2" id="message">
                    <div class="card-header {% if status < 210 %} bg-success{% else %} bg-danger {% endif %}">
                        {% if status < 210 %}
                            <h3 class="card-title text-white "><i class="bi bi-check-circle m-1"></i> Update done</h3>
                        {% else %}
                            <h3 class="card-title text-white "><i class="bi bi-exclamation-triangle m-1"></i>Update
                                failed</h3>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h4>Status {{ status }} - {{ message }}</h4>
                    </div>
                </div>
            {% endif %}

            <table class="dataTable table  border border-dark" id="TableProviders">
                <thead>
                <tr>
                    <th>Project</th>
                    <th>Provider Name</th>
                    <th>Short Name</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>


                {% for project in permissions['content'] %}
                    {% set browse = false %}
                    {% for permissions in project['permissions'] %}
                        {% if permissions.collection=='Metric' %}
                            {% for permission in permissions['access_permissions'] %}
                                {% if permission.operation=='READ' and permission.access_type=='ALWAYS' %}
                                    {% set browse=true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% for provider in project['providers'] %}



                        {% for permissions in provider['permissions'] %}
                            {% if permissions.collection=='Metric' %}
                                {% for permission in permissions['access_permissions'] %}
                                    {% if permission.operation=='READ' and permission.access_type=='ALWAYS' %}
                                        {% set browse=true %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>{{ project.acronym }}</td>
                            <td>{{ provider.name }}</td>
                            <td>{{ provider.abbreviation }}</td>
                            <td>

                                <div class="btn-group btn-group-sm" role="group" aria-labelledby="Actions">

                                    <a class="btn btn-primary" data-bs-toggle="modal" title=" Browse more details"
                                       data-bs-target="#provider_{{ provider.id }}">
                                        <i class="bi bi-search" style="font-size: large"></i>
                                    </a>

                                    <div class="modal fade providersDetails" id="provider_{{ provider.id }}"
                                         tabindex="-1"
                                         aria-labelledby="provider_{{ provider.id }}_Label">

                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <form>
                                                <div class="modal-content">
                                                    <div class="modal-header bg-light">
                                                        <h5 class="modal-title text-center">Provider details</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <input type="hidden" id="logo_url_{{ provider.id }}"
                                                               value="{{ provider.logo }}"/>
                                                        <div class="form-group m-2 text-center">
                                                            <div id="container_{{ provider.id }}"></div>
                                                        </div>
                                                        <br/><br/>
                                                        <div class="form-group m-2">
                                                            <label for="name">Name</label>
                                                            <input type="text" class="form-control" name="name"
                                                                   value="{{ provider.name }}"
                                                                   disabled="true"/>
                                                        </div>
                                                        <div class="form-group m-2">
                                                            <label for="sname">Short Name</label>
                                                            <input type="text" class="form-control" name="sname"
                                                                   value="{{ provider.abbreviation }}" disabled="true"/>

                                                        </div>
                                                        <div class="form-group m-2">

                                                            <label for="website">Web Site</label>
                                                            <input type="text" class="form-control" name="website"
                                                                   value="{{ provider.website }}" disabled="true"/>

                                                        </div>


                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                   {% if browse==true %}
                                    <a class="btn btn-primary" href=" {{ path('metrics_by_entity', { 'type': 'providers','id': provider.id, 'project_id':project.id }) }}" title="Browse Metrics for this provider">
                                        <i class="bi bi-cast" style="font-size: large"></i>
                                    </a>
                                    {% endif %}

                                </div>

                            </td>

                        </tr>

                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>



        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script>
        $("#TableProviders").dataTable({
            "order": [[2, 'asc'], [0, 'asc']]
        })


        $(document).ready(function () {
            $('.providersDetails').on('shown.bs.modal', function () {


                let Id = $(this).attr('id').split('provider_')[1];
                var url = $("#logo_url_" + Id).val();
                var canvas = $("#container_" + Id);
                canvas.append('<div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>');

                if (url !== 'Not found') {
                    checkIfImageExists(url, (exists) => {
                        if (exists) {
                            let img = document.createElement('img');
                            img.src = url;
                            img.width = "200";
                            canvas.empty();
                            canvas.append(img);
                        } else {
                            canvas.empty();
                            canvas.append('<i class="bi bi-radioactive" style="font-size: 3rem;"></i><br/>Image Not found');
                        }
                    });
                } else {
                    canvas.empty();
                    canvas.append('<i class="bi bi-radioactive" style="font-size: 3rem;"></i><br/>Image Not found');
                }


            });

            function checkIfImageExists(url, callback) {
                const img = new Image();
                img.src = url;

                if (img.complete) {
                    callback(true);
                } else {
                    img.onload = () => {
                        callback(true);
                    };

                    img.onerror = () => {
                        callback(false);
                    };
                }
            }
        });

    </script>
{% endblock %}