<h1><i class="bi bi-globe"></i> Projects Table</h1>
<hr/>


<table class="dataTable table  border border-dark table-responsive" id="TableProjects">

    <thead>
    <tr>
        <th class="col-1">Link</th>
        <th class="col-1">Acronym</th>
        <th class="col-5">Title</th>
        <th class="col-5">Providers</th>
    </tr>
    </thead>

    <tbody>

    {%  for id, data in tabProjects %}
        <tr>
            <td class="id">
                <form class="form_browse" method="POST" action="metrics#metrics">
                    <input name="form" value="1" type="hidden"/>

                    <input type="hidden" name="providerName" value="undef"/>
                    <input  type="hidden" name="projectName" value="{{ data.acronym }}"/>
                    <input  type="hidden" name="projectId" value="{{ data.id }}"/>
                    <input type="submit" class="btn btn-primary" value="Metrics for project">

                </form>
            </td>
            <td class="acronym">{{ data.acronym }} </td>
            <td class="title">{{ data.title }} </td>
            <td class="providers">
            {% for provider in data  %}
                {%  if provider.name is defined %}
                {{ provider.name }} <br/>
                {% endif %}
            {% endfor %}
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>
