{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<div class="container">


    <div class="card">
        <div class="card-header">
            <H3 class="card-title"><i class="bi bi-gear"></i> Browse metrics</H3>
        </div>

        <div class="card-body">
            <div class="m-1">
                <input type="radio" class="btn-check" name="btnradio" id="btn_selection_1" value="btn_selection_1"
                       autocomplete="off" {% if  details < 2 %}checked {% endif %}>
                <label class="btn btn-outline-primary text-dark" for="btn_selection_1">Browse by Project</label>

                <input type="radio" class="btn-check" name="btnradio" id="btn_selection_2" value="btn_selection_2"
                       autocomplete="off" {% if  details == 2 %}checked {% endif %}>
                <label class="btn btn-outline-primary text-dark" for="btn_selection_2">Browse by Project and
                    Provider</label>

                <input type="radio" class="btn-check" name="btnradio" id="btn_selection_3" value="btn_selection_3"
                       autocomplete="off" {% if  details == 3 %}checked {% endif %}>
                <label class="btn btn-outline-primary text-dark" for="btn_selection_3">Browse by Installation</label>
            </div>
            <div class="m-1">
                <div class="selection {% if details >= 2 %} d-none {% endif %}" id="selection_1">

                    <form class="needs-validation" novalidate id="form_selection_1" name="form_browse_metrics"
                          method="POST" action="{{ path('metrics') }}">
                        <input type="hidden" name="case" value="1">
                        <input class="start_date" name="start_date" value="{{ start }}" type="hidden"/>
                        <input class="end_date" name="end_date" value="{{ end }}" type="hidden"/>

                        <div class="form-group">
                            <label for="project" class="text-muted">Please select a project</label>
                            <select id="project" class="form-control form-select" name="project" required>


                                {% for project in tabProjects %}
                                    <option value="{{ project.id }}" {% if parameters.projectId is defined and project.id == parameters.projectId %} selected {% endif %}>{{ project.acronym }}</option>

                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Please choose a project
                            </div>
                        </div>


                    </form>
                </div>

            </div>
            <div class="m-1">

                <div class="selection  {% if details != 2 %} d-none {% endif %}" id="selection_2">
                    <form class="form_browse_metrics" id="form_selection_2" name="form_browse_metrics" method="POST"
                          action="{{ path('metrics') }}">
                        <input type="hidden" name="case" value="2">
                        <input class="start_date" name="start_date" value="{{ start }}" type="hidden"/>
                        <input class="end_date" name="end_date" value="{{ end }}" type="hidden"/>

                        <div class="form-group">
                            <label for="project_provider" class="text-muted">Please select an association of project and
                                provider</label>

                            <select class="form-control form-select" id="project_provider" name="project_provider">


                                {% for project in tabProjects %}
                                    {% for provider in project %}
                                        {% if provider.name is defined %}
                                            <option value="{{ project.id }}___{{ provider.id }}" {% if parameters.provider is defined and provider.id == parameters.provider and parameters.projectId==project.id %} selected {% endif %}>{{ project.acronym }}
                                                / {{ provider.name }} </option>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="invalid-feedback">
                            Please choose an association of project and provider
                        </div>


                    </form>
                </div>

            </div>

            <div class="m-1">
                <div class="selection {% if details != 3 %} d-none {% endif %}" id="selection_3">

                    <form class="form_browse_metrics" id="form_selection_3" name="form_browse_metrics" method="POST"
                          action="{{ path('metrics') }}">
                        <input type="hidden" name="case" value="3">
                        <input class="start_date" name="start_date" value="{{ start }}" type="hidden"/>
                        <input class="end_date" name="end_date" value="{{ end }}" type="hidden"/>


                        <div class="form-group">

                            <label for="installation" class="text-muted">Please select an installation</label>
                            <select class="form-control  form-control form-select" name="installation"
                                    id="installation">


                                {% for key, tabproject in tabInstallations %}
                                    <optgroup label="{{ key }}">
                                        {% for key2, installations in tabproject %}
                                            <option value="{{ installations.id }}" {% if parameters.installation is defined and parameters.installation ==  installations.id %} selected {% endif %}>{{ installations.installation }}</option>
                                        {% endfor %}
                                    </optgroup>

                                {% endfor %}

                            </select>

                        </div>

                        <div class="invalid-feedback">
                            Please choose an installation
                        </div>


                    </form>

                </div>

            </div>

            <div class="row">

                {% if start !=0  %}
                    <input type="hidden" id="range_index" value="0"/>
                    <input type="hidden" id="start_range" value="{{ start }}"    />
                    <input type="hidden" id="end_range" value="{{ end }}"    />

                {% else %}
                    <input type="hidden" id="range_index" value="1"/>
                {% endif %}


                <div><a href="" id="addTime" class="{% if start != 0 %} d-none{% endif %}"><i
                                class="bi bi-plus-circle-fill m-1"></i> Add a date range</a></div>
                <div class="addTime form-group {% if start == 0 %} d-none{% endif %}">
                    <label for="datetimes" class="text-muted">Select the date range <a href="" id="removeTime"><i
                                    class="bi bi-trash-fill m-1"></i> </a> </label>

                    <div id="reportrange" class="form-control form-select">
                        <i class="bi bi-calendar-check"></i>&nbsp;
                        <span>{% if start != 0 %}{{ start }} - {{ end }} {% endif %}</span> <i
                                class="fa fa-caret-down"></i>
                    </div>
                </div>

            </div>
            <div class="row">

                <div>
                    <button type="submit" id="submit_metrics" class="submit btn btn-primary mt-3"
                            value="submit_metrics">Submit
                    </button>
                </div>


            </div>
        </div>
    </div>


    <div class="card mt-2">
        {% if details >= 1 %}

        <div class="card-header">
            <h3 class="card-title"><i class="bi bi-bar-chart"></i> Metrics Table </h3>
        </div>

        <div class="card-body">


            <ul class="list-group list-group-horizontal m-1">
                <li class="list-group-item"><span class="text-muted"><i class="bi bi-gear m-1"></i> Parameters :</span>
                </li>
                {% if details == 1 %}
                    <li class="list-group-item"><span class="text-dark">Project</span>
                        > {{ tabProjects[parameters.projectId].acronym }}</li>
                {% endif %}
                {% if details == 2 %}
                    <li class="list-group-item"><span class="text-muted">Project</span>
                        > {{ tabProjects[parameters.projectId].acronym }}</li>
                    <li class="list-group-item"><span class="text-muted">Provider</span>
                        > {{ tabProviders[parameters.provider].name }}</li>
                {% endif %}

                {% if details == 3 %}

                    {% for key, tabproject in tabInstallations %}
                        {% for key2, installations in tabproject %}
                            {% if parameters.installation ==  installations.id %}
                                <li class="list-group-item"> <span  class="text-muted">Project > </span>{{ installations.projectName }}  </li>
                                <li class="list-group-item"> <span  class="text-muted">Provider > </span>{{ installations.organisation }}  </li>
                                <li class="list-group-item"><span    class="text-muted">Installation > </span>{{ installations.installation }} </li>
                            {% endif %}
                        {% endfor %}
                {% endfor %}

                {% endif %}

                {% if start!=0 %}
                    <li class="list-group-item"><span class="text-muted">Period</span> > {{ start }} / {{ end }}</li>
                {% endif %}

            </ul>


            {% if tabMetricsDetails!=null %}

                <table class="dataTable table  border border-dark" id="TableMetricsProject">

                    <thead>
                    <tr>

                        <th>Start</th>
                        <th>End</th>
                        <th>Value</th>
                        <th>Unit</th>
                        <th>Metric Type</th>
                        <th>Metric Description</th>
                        <th>Project</th>
                        <th>Provider</th>


                    </tr>
                    </thead>

                    <tbody>
                    {% for data in tabMetricsDetails %}


                        <tr>

                            {% if data.time_period_start is defined %}
                                <td class="start">{{ data.time_period_start }} </td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if data.time_period_end  is defined %}
                                <td class="end">{{ data.time_period_end }} </td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if data.value  is defined %}
                                <td class="value">{{ data.value }} </td>
                            {% else %}
                                <td></td>
                            {% endif %}


                            <td class="unit">{{ data.unit_type }}</td>
                            <td>{{ data.metric_type }}</td>
                            <td>{{ data.metric_description }}</td>
                            <td>{{ data.project }}</td>
                            <td class="provider">{{ data.provider }}</td>

                        </tr>
                    {% endfor %}


                    </tbody>

                </table>


            {% else %}
                <div class="mt-4 p-2"><span class="alert alert-info">No metrics registered for this configuration</span>
                </div>
            {% endif %}


            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>

        $(document).on('click', '#removeTime', function (event) {
            $('.addTime').addClass('d-none');
            $('#addTime').removeClass('d-none');
            $('.start_date').val(0);
            $('.end_date').val(0);
            event.preventDefault();
        });

        $(document).on('click', '#addTime', function (event) {
            $('.addTime').removeClass('d-none');
            $('#addTime').addClass('d-none');
            event.preventDefault();
        });

        $(document).on('click', '#submit_metrics', function (event) {
            var id = $('input[name="btnradio"]:checked').val().split('btn_')[1];
            if ($('.addTime').hasClass('d-none')) {
                $('.start_date').val(0);
                $('.end_date').val(0);
            }
            $('#form_' + id).submit();
        });


        $(document).on('change', 'input[name="btnradio"]', function (event) {
            var id = $('input[name="btnradio"]:checked').val().split('btn_')[1];
            $(".selection").addClass('d-none');
            $(".selection").find('select').addClass('select2-hidden-accessible');
            $(".selection").find('select').addClass('form-control form-select');
            $("#" + id).removeClass('d-none');
            $("#" + id).find('select').removeClass('select2-hidden-accessible');
        });

        $(function () {

            if ($("#range_index").val()==1){
                var start = moment().subtract(29, 'days');
                var end = moment();
            }
            else {
                var start = moment($('#start_range').val());
                var end = moment($('#end_range').val());
            }



            function cb(start, end) {
                $('.start_date').val(start.format('YYYY-MM-DD'));
                $('.end_date').val(end.format('YYYY-MM-DD'));
                $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));

            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'Last 6 Month': [moment().subtract(6, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'Last Year': [moment().subtract(12, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);


        });

    </script>
{% endblock %}
