
{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}
<div class="row">
    <div class="offset-1 col-10 mt-1 mb-3">
<h1><i class="bi bi-globe"></i> Projects Table
    <div class="ms-2 d-none spinner-border text-primary" id="loader_remove_provider" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</h1>
<hr/>
        {% if message is defined and message!='' %}
            <div class="card m-1 col-4 mb-2" id="message">
                <div class="card-header {% if status < 210 %} bg-success{% else %} bg-danger {% endif %}">
                    {% if status < 210 %}
                        <h3 class="card-title text-white "><i class="bi bi-check-circle m-1"></i> Update done</h3>
                    {% else %}
                        <h3 class="card-title text-white "><i class="bi bi-exclamation-triangle m-1"></i>Update failed</h3>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h4>Status {{ status }} - {{ message }}</h4>
                </div>
            </div>
        {% endif %}


<table class="dataTable table  border border-dark table-responsive" id="TableProjects">

    <thead>
    <tr>

        <th class="col-1">Acronym</th>
        <th class="col-5">Title</th>
        <th class="col-5">Providers</th>
        <th>Actions</th>

    </tr>
    </thead>

    <tbody>
{% for projects in tabProjects %}
    {%  for id, data in projects %}
        <tr>

            <td class="acronym">{{ data.acronym }} </td>
            <td class="title">{{ data.title }} </td>
            <td class="providers">
                <ul id="row_provider_{{ data.id }}">

            {% for provider in data['providers']  %}

                {%  if provider.name is defined %}
                    <li id="provider_{{ data.id }}_{{ provider.id }}">{{ provider.name }} </li>
                {% endif %}
            {% endfor %}
                </ul>
            </td>
            <td>

                <div class="btn-group dropstart">
                    <button class="btn bg-light dropdown-toggle border border-dark text-dark"
                            type="button" id="dropdownActions" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">

                        {% if permissions[data.acronym]['Project']['ASSOCIATE'] is defined and permissions[data.acronym]['Project']['ASSOCIATE']=='ALWAYS' %}
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#add_provider_{{ data.id }}">
                            <i class="bi bi-pencil-square"></i>
                           Associates a new provider
                        </a>
                        {% endif %}
                        {% if permissions[data.acronym]['Project']['ASSOCIATE'] is defined and permissions[data.acronym]['Project']['DISSOCIATE']=='ALWAYS' %}
                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#dissociates_provider_{{ data.id }}">
                            <i class="bi bi-x-circle"></i>
                            Dissociates provider(s)
                        </a>
                        {% endif %}
                        {% if permissions[data.acronym]['Project']['READ'] is defined and permissions[data.acronym]['Project']['READ']=='ALWAYS' %}
                            <a class="dropdown-item" href=" {{ path('metrics', { 'project': data.id }) }}">
                                <i class="bi bi-bar-chart"></i>
                                Browse Metrics for this project
                            </a>

                        {% endif %}

                    </div>
                </div>


        <div class="modal fade" id="add_provider_{{ data.id }}" tabindex="-1" aria-labelledby="add_provider_Label">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">

                    <div class="modal-header  bg-light">
                        <h5 class="modal-title text-center">Associates a new provider - Project {{ data.acronym }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form_add_provider_project">
                            <div class="form-group m-2">
                               <input  type="hidden" value="{{ data.id}}" name="project">
                                <input  type="hidden" value="associate" name="mode">
                            </div>

                            <div class="form-group m-2">

                                <label for="provider" class="m-1">Choose a provider</label>


                                <select class="form-control form-select"  name="providers" >

                                    {% for providersT in tabProviders['content'] %}
                                        {% set alreadySelected=false %}

                                            {% for proL in data['providers'] %}
                                                {%  if providersT.name == proL.name %}
                                                    {% set   alreadySelected=true %}
                                                {% endif %}
                                             {% endfor%}

                                            {%  if alreadySelected == false %}
                                                <option class="m-1" value="{{ providersT.id}}">{{ providersT.name }}</option>
                                             {% endif %}

                                    {% endfor %}
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                            <div class="ms-2 d-none spinner-border text-primary" id="loader_add_provider" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

                <div class="modal fade  modal-lg" id="dissociates_provider_{{ data.id }}" tabindex="-1" aria-labelledby="remove_provider_Label">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content ">

                            <div class="modal-header  bg-light">
                                <h5 class="modal-title text-center">Dissociates provider - Project {{ data.acronym }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="form_remove_provider_project">
                                    <div class="form-group m-2">
                                        <input  type="hidden" value="{{ data.id}}" name="project">
                                        <input  type="hidden" value="dissociate" name="mode">

                                    </div>

                                    <div class="form-group m-2">

                                        <label for="provider" class="m-1 fw-bold">Choose one or several providers</label>
                                        <ul name="provider" style="list-style: none">
                                        {% for provider in data['providers']  %}

                                            {%  if provider.name is defined %}
                                                <li id="provider_{{ data.id }}_{{ provider.id }}"><input type="radio" value="{{ provider.id }}" name="providers"> {{ provider.name }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    <div class="ms-2 d-none spinner-border text-primary" id="loader_remove_provider" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




        </td>

        </tr>

    {% endfor %}
{% endfor %}
    </tbody>

</table>
    </div>
</div>


{% endblock %}

{% block javascripts %}

    <script>


        $(document).on('submit','.form_add_provider_project, .form_remove_provider_project',function(event) {
            event.preventDefault(); // cancel default behavior

            var projectId= $(this).find('input[name="project"]').val().trim();
            var mode =$(this).find('input[name="mode"]').val().trim();

            if (mode=='associate') {
                var provider = $(this).find('select[name="providers"] > option:selected').val().trim();
            }
            else {
                var provider=$("input[name='providers']:checked").val();
            }

            var dataUrl="project="+projectId+"&provider="+provider+"&mode="+mode;


            let url= "{{ url('modify_providers_project') }}";


            let request = $.ajax({
                type: "POST",
                url: url,
                data: dataUrl,
                beforeSend: function () {
                        $('#loader_add_provider').removeClass('d-none');
                }});

            request.done(function (output_json) {
                var output = jQuery.parseJSON(output_json);
                var status = output.status;
                var message = output.message;
                $.redirect(window.location.href, {'status': status, 'message': message});


            });
            request.fail(function (output_json) {

                var output = jQuery.parseJSON(output_json);
                var status = output.status;
                var message = output.message;
                $.redirect(window.location.href, {'status': status, 'message': message});

            });


        });

    </script>
{% endblock %}
