
{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}
<div class="row">
    <div class="offset-1 col-10 mt-1 mb-3">
<h1><i class="bi bi-globe"></i> Projects Table
    <div class="ms-2 d-none spinner-border text-primary" id="loader_remove_provider" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</h1>
<hr/>
        {% if message is defined and message!='' %}
            <div class="card m-1 col-4 mb-2" id="message">
                <div class="card-header {% if status < 210 %} bg-success{% else %} bg-danger {% endif %}">
                    {% if status < 210 %}
                        <h3 class="card-title text-white "><i class="bi bi-check-circle m-1"></i> Update done</h3>
                    {% else %}
                        <h3 class="card-title text-white "><i class="bi bi-exclamation-triangle m-1"></i>Update failed</h3>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h4>Status {{ status }} - {{ message }}</h4>
                </div>
            </div>
        {% endif %}


<table class="dataTable table  border border-dark table-responsive" id="TableProjects">

    <thead>
    <tr>
        <th>Actions</th>
        <th class="col-1">Acronym</th>
        <th class="col-5">Title</th>
        <th class="col-5">Providers</th>


    </tr>
    </thead>

    <tbody>

{% for projects in tabProjects %}

    {%  for id, data in projects %}
        <tr>
            <td>

                <div class="btn-group dropstart">

                    <div class="btn-group btn-group-sm" role="group" aria-labelledby="Actions">

                        {% if permissions[data.acronym]['Project']['ASSOCIATE'] is defined and permissions[data.acronym]['Project']['ASSOCIATE']=='ALWAYS' %}
                            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_provider_{{ data.id }}" title="Associates a new provider">
                                <i class="bi bi-pencil-square" style="font-size: large"></i>
                            </a>


                        {% endif %}
                        {% if permissions[data.acronym]['Project']['ASSOCIATE'] is defined and permissions[data.acronym]['Project']['DISSOCIATE']=='ALWAYS' %}

                            <a  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dissociates_provider_{{ data.id }}" title="Dissociates provider(s)">
                                <i class="bi bi-x-circle" style="font-size: large"></i>

                            </a>

                        {% endif %}
                        {% if permissions[data.acronym]['Project']['READ'] is defined and permissions[data.acronym]['Project']['READ']=='ALWAYS' %}

                            <a class="btn btn-primary" href=" {{ path('metrics', { 'project': data.id }) }}" title="Browse Metrics for this project">
                                <i class="bi bi-bar-chart" style="font-size: large"></i>

                            </a>


                        {% endif %}

                    </div>
                </div>


                <div class="modal fade" id="add_provider_{{ data.id }}" tabindex="-1" aria-labelledby="add_provider_Label">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">

                            <div class="modal-header  bg-light">
                                <h5 class="modal-title text-center">Associates a new provider - Project {{ data.acronym }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="form_add_provider_project">
                                    <div class="form-group m-2">
                                        <input  type="hidden" value="{{ data.id}}" name="project">
                                        <input  type="hidden" value="associate" name="mode">
                                    </div>

                                    <div class="form-group m-2">

                                        <label for="provider" class="m-1">Choose a provider</label>


                                        <select class="select2-enable"  multiple="multiple" name="providers_added" >

                                            {% for providersTb in tabProviders %}
                                                {%for  providersT in providersTb %}
                                                    {% set alreadySelected=false %}

                                                    {% for proL in data['providers'] %}
                                                        {%  if providersT.name == proL.name %}
                                                            {% set   alreadySelected=true %}
                                                        {% endif %}
                                                    {% endfor%}

                                                    {%  if alreadySelected == false %}
                                                        <option class="m-1" value="{{ providersT.id}}">{{ providersT.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    <div class="ms-2 d-none spinner-border text-primary" id="loader_add_provider" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade  modal-lg" id="dissociates_provider_{{ data.id }}" tabindex="-1" aria-labelledby="remove_provider_Label">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content ">

                            <div class="modal-header  bg-light">
                                <h5 class="modal-title text-center">Dissociates provider - Project {{ data.acronym }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="form_remove_provider_project">
                                    <div class="form-group m-2">
                                        <input  type="hidden" value="{{ data.id}}" name="project">
                                        <input  type="hidden" value="dissociate" name="mode">

                                    </div>

                                    <div class="form-group m-2">

                                        <label for="provider" class="m-1 fw-bold">Choose one or several providers</label>
                                        <select class="select2-enable"  multiple="multiple" name="providers_removed" >

                                            {% for proL in data['providers'] %}
                                                <option class="m-1" value="{{ proL.id}}">{{ proL.name }}</option>
                                            {% endfor%}

                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    <div class="ms-2 d-none spinner-border text-primary" id="loader_remove_provider" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            </td>
            <td class="acronym">{{ data.acronym }} </td>
            <td class="title">{{ data.title }} </td>
            <td class="providers">
                <ul id="row_provider_{{ data.id }}">

            {% for provider in data['providers']  %}

                {%  if provider.name is defined %}
                    <li id="provider_{{ data.id }}_{{ provider.id }}">{{ provider.name }} </li>
                {% endif %}
            {% endfor %}
                </ul>
            </td>


        </tr>

    {% endfor %}
{% endfor %}
    </tbody>

</table>
    </div>
</div>


{% endblock %}

{% block javascripts %}

    <script>


        $(document).on('submit','.form_add_provider_project, .form_remove_provider_project',function(event) {
            event.preventDefault(); // cancel default behavior

            var projectId= $(this).find('input[name="project"]').val().trim();
            var mode =$(this).find('input[name="mode"]').val().trim();
            var provider="";

            if (mode=='associate') {
                $(this).find('select[name="providers_added"] > option:selected').each(function( index,val ) {
                    provider=provider+","+$(this).val().trim();
                });
            }
            else {
                $(this).find('select[name="providers_removed"] > option:selected').each(function( index, val ) {
                    provider=provider+","+$(this).val().trim();
                });
            }

            var dataUrl="project="+projectId+"&provider="+provider+"&mode="+mode;

            let url= "{{ url('modify_providers_project') }}";

            let request = $.ajax({
                type: "POST",
                url: url,
                data: dataUrl,
                beforeSend: function () {
                        $('#loader_add_provider').removeClass('d-none');
                }});

            request.done(function (output_json) {
                var output = jQuery.parseJSON(output_json);
                var status = output.code;
                var message = output.message;
                $.redirect(window.location.href, {'status': status, 'message': message});


            });
            request.fail(function (output_json) {

                var output = jQuery.parseJSON(output_json);
                var status = output.code;
                var message = output.message;
                $.redirect(window.location.href, {'status': status, 'message': message});

            });


        });

    </script>
{% endblock %}
