{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <div class="container">


        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col text-start">
                        <H3 class="card-title"><i class="bi bi-gear"></i> Browse metrics</H3>
                    </div>
                    <div class="col text-end align-top align-text-top">
                        <a class="btn btn-primary  align-top" data-bs-toggle="collapse" href="#collapse-body"
                           role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="bi bi-arrows-collapse"></i>
                        </a>
                    </div>

                </div>

            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="projects">Projects</label>
                    <div>
                    <select name="projects" id="projects" class="col projects form-control form-select">
                        <option value="O" name="0" class="text-muted">-- Please select a project --</option>
                        {% for project in listEntities %}
                            <option name="{{ project.id }}" value="{{ project.id }}">{{ project.acronym }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                {% for project in listEntities %}
                        <div class="d-none providers_{{ project.id }} list_providers">

                            <label for="providers">Providers > {{ project.acronym }} Project >  <span class="btn btn-sm btn-secondary m-1">Browse Metrics</span></label>
                            <select name="providers"  class="providers form-control form-select">
                                <option value="O" name="0" class="text-muted">-- Please select a provider --</option>
                                {% for provider in project['providers'] %}
                                    <option name="{{ provider.id }}" value="{{ provider.id }}">{{ provider.id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                {% endfor %}
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    {% for project in listEntities %}
                        {% for provider in project['providers'] %}
                            <div class="d-none  installations_{{ provider.id }} list_installations">

                                {% if provider['installations'] | length > 0%}
                            <label for="installations">Installations > {{ provider.id }} Provider > <span class="btn btn-sm btn-secondary m-1">Browse Metrics</span></label>
                            <ul   class="installations form-control">

                                {% for installation in provider['installations'] %}
                                    <li class="{{ installation.installation }} ms-4">{{ installation.installation }}<span class="btn btn-sm btn-secondary m-1">Browse Metrics</span></li>
                                {% endfor %}
                            </ul>
                                {% else %}
                                    <label for="installations">Installations > <span class="badge bg-light text-dark">0</span> </label>
                                    {% endif %}
                            </div>
                            
                        {% endfor %}

                    {% endfor %}


                </div>

            </div>


        </div>


        <div class="card mt-2">
            {% if details >= 1 %}

            <div class="card-header">
                <h3 class="card-title"><i class="bi bi-bar-chart"></i> Metrics Table </h3>
            </div>

            <div class="card-body">


                <ul class="list-group list-group-horizontal m-1">
                    <li class="list-group-item"><span class="text-muted"><i
                                    class="bi bi-gear m-1"></i> Parameters :</span>
                    </li>
                    {% if details == 1 %}
                        <li class="list-group-item"><span class="text-dark">Project</span>
                            > {{ tabProjects[parameters.projectId].acronym }}</li>
                    {% endif %}
                    {% if details == 2 %}
                        <li class="list-group-item"><span class="text-muted">Project</span>
                            > {{ tabProjects[parameters.projectId].acronym }}</li>
                        <li class="list-group-item"><span class="text-muted">Provider</span>
                            > {{ tabProviders[parameters.provider].name }}</li>
                    {% endif %}

                    {% if details == 3 %}

                        {% for key, tabproject in tabInstallations %}
                            {% for key2, installations in tabproject %}
                                {% if parameters.installation ==  installations.id %}
                                    <li class="list-group-item"><span
                                                class="text-muted">Project > </span>{{ installations.projectName }}
                                    </li>
                                    <li class="list-group-item"><span
                                                class="text-muted">Provider > </span>{{ installations.organisation }}
                                    </li>
                                    <li class="list-group-item"><span
                                                class="text-muted">Installation > </span>{{ installations.installation }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                    {% endif %}

                    {% if start!=0 %}
                        <li class="list-group-item"><span class="text-muted">Period</span> > {{ start }} / {{ end }}
                        </li>
                    {% endif %}

                </ul>


                {% if tabMetricsDetails!=null %}

                    <table class="dataTable table  border border-dark" id="TableMetricsProject">

                        <thead>
                        <tr>

                            <th>Start</th>
                            <th>End</th>
                            <th>Value</th>
                            <th>Unit</th>
                            <th>Metric Type</th>
                            <th>Metric Description</th>
                            <th>Project</th>
                            <th>Provider</th>


                        </tr>
                        </thead>

                        <tbody>
                        {% for data in tabMetricsDetails %}


                            <tr>

                                {% if data.time_period_start is defined %}
                                    <td class="start">{{ data.time_period_start }} </td>
                                {% else %}
                                    <td></td>
                                {% endif %}

                                {% if data.time_period_end  is defined %}
                                    <td class="end">{{ data.time_period_end }} </td>
                                {% else %}
                                    <td></td>
                                {% endif %}

                                {% if data.value  is defined %}
                                    <td class="value">{{ data.value }} </td>
                                {% else %}
                                    <td></td>
                                {% endif %}


                                <td class="unit">{{ data.unit_type }}</td>
                                <td>{{ data.metric_type }}</td>
                                <td>{{ data.metric_description }}</td>
                                <td>{{ data.project }}</td>
                                <td class="provider">{{ data.provider }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>

                    </table>


                {% else %}
                    <div class="mt-4 p-2"><span
                                class="alert alert-info">No metrics registered for this configuration</span>
                    </div>
                {% endif %}


                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $(document).on('click', '#removeTime', function (event) {
            $('.addTime').addClass('d-none');
            $('#addTime').removeClass('d-none');
            $('.start_date').val(0);
            $('.end_date').val(0);
            event.preventDefault();
        });

        $(document).on('click', '#addTime', function (event) {
            $('.addTime').removeClass('d-none');
            $('#addTime').addClass('d-none');
            event.preventDefault();
        });

        $(document).on('click', '#submit_metrics', function (event) {
            var id = $('input[name="btnradio"]:checked').val().split('btn_')[1];
            if ($('.addTime').hasClass('d-none')) {
                $('.start_date').val(0);
                $('.end_date').val(0);
            }
            $('#form_' + id).submit();
        });


        $(document).on('change', '#projects', function (event) {

            var id=$('select.projects').find(":selected").val();
            $(".list_providers").addClass('d-none');
            $(".list_installations").addClass('d-none');
           $(".providers_"+id).removeClass('d-none');

        });

        $(document).on('change', 'select.providers', function (event) {

            var id=$('select.providers').find(":selected").val();
             $(".list_installations").addClass('d-none');
            $(".installations_"+id).removeClass('d-none');

        });

        $(document).on('change', 'input[name="btnradio"]', function (event) {
            var id = $('input[name="btnradio"]:checked').val().split('btn_')[1];
            $(".selection").addClass('d-none');
            $(".selection").find('select').addClass('select2-hidden-accessible');
            $(".selection").find('select').addClass('form-control form-select');
            $("#" + id).removeClass('d-none');
            $("#" + id).find('select').removeClass('select2-hidden-accessible');
        });

        $(function () {

            if ($("#range_index").val() == 1) {
                var start = moment().subtract(29, 'days');
                var end = moment();
            } else {
                var start = moment($('#start_range').val());
                var end = moment($('#end_range').val());
            }


            function cb(start, end) {
                $('.start_date').val(start.format('YYYY-MM-DD'));
                $('.end_date').val(end.format('YYYY-MM-DD'));
                $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));

            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'Last 6 Month': [moment().subtract(6, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    'Last Year': [moment().subtract(12, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);


        });

    </script>
{% endblock %}
