<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EOSC Accounting UI</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}"/>

    {{ encore_entry_link_tags('app') }}


    {% block stylesheets %} {% endblock %}

</head>

<body>
{% include 'default/header.html.twig' %}



<main class="dd container-fluid">

    {% for flash_message in app.session.flashbag.get('danger') %}
        <div role="alert" class="alert alert-danger">
            {{ flash_message|raw }}
        </div>
    {% endfor %}


    {% for flash_message in app.session.flashbag.get('success') %}
        <div role="alert" class="alert alert-success">
            {{ flash_message|raw }}
        </div>
    {% endfor %}


    {% block body %}{% endblock %}


    {% include 'default/footer.html.twig' %}


</main>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}
{% endblock %}
</body>

</html>